body{
width:300px;
padding:20px;
font-family:Arial;
background:#111827;
color:white;
}

h2{
font-size:20px;
margin-bottom:15px;
}

input{
width:100%;
padding:10px;
border:none;
border-radius:8px;
margin-bottom:10px;
}

button{
width:100%;
padding:10px;
border:none;
border-radius:8px;
background:#7c3aed;
color:white;
cursor:pointer;
font-size:14px;
}

p{
margin-top:10px;
color:#22c55e;
font-size:13px;
}